{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section class="pt-5" id="projects">
      <div class="container py-lg-5">
        <p class="paragraph"></p>
        <div class="row">
          <div class="col-lg-5 col-sm-6 mb-5">
             <div class="panel panel-default">
              <div class="panel-thumbnail">
              <h4 class="mt-3">Better Solutions For Building</h4>
              <p class="mt-3"><b>From  selling Globally to locally,from making on your site to expanding business to this store has a lot  of opportunites for you to  explore</b></p>
              </div>
            </div>
          </div>
          <div class="col-lg-5 col-sm-6 mb-5">
             <div class="panel panel-default">
              <div class="panel-thumbnail">
              <img src="{% static 'images/hero-img.jpg'  %}" alt="" class="img-fluid" /> 
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}