{% extends 'base.html' %}
{%load static %}
{% block content %}
<div class="container mt-5 p-5">
    <form action="success" method="POST">
        <h1 class="">Payment Confirmation</h1>
        <div class="form-group">
            {% csrf_token %}
            <label for="">Username</label>
            <input type="text" class="form-control" value="{{name}}" name="name">
        </div>
        <div class="form-group">
            <label for="">Amount</label>
            <input type="text" class="form-control" value="{{payment.amount}}" name="amt">
        </div>
        <!-- RAZORPAY INTEGRATION HERE -->
        <script src="https://checkout.razorpay.com/v1/checkout.js" data-key="rzp_test_BxZvEpl01zwGtx"
            data-amount="{{payment.amount}}" data-currency="INR" data-order_id="{{payment.id}}"
            data-buttontext="Pay with Razorpay" data-name="Razorpay Merchant" data-description="Pay With Razorpay"
            data-image="https://cdn4.vectorstock.com/i/1000x1000/70/53/mobile-payment-icon-flat-design-vector-6827053.jpg"
            data-prefill.name="PC" data-prefill.email="pc@kevinjoseminj.com" data-theme.color="blue">
            </script>
    </form>
</div>

{% endblock %}